<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link th:href="@{/asset/image/favicon/6.png}" rel="shortcut icon">
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">PenBlog</title>
    <link rel="stylesheet" th:href="@{/asset/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/asset/css/layout.css}">
</head>
<body>
    <!-- header -->
    <div layout:fragment="header" >
        <!-- head -->
        <div class="container head" th:utext="${head}">
        </div>
        <!-- ./head -->

        <!-- nav -->
        <div class="container">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" th:class="${page eq 'home'} ? active">
                    <a th:href="@{/home}">首页</a>
                </li>
                <li role="presentation" th:class="dropdown" th:classappend="${page eq 'category'} ? active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        分类 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Java</a></li>
                        <li><a href="#">Android</a></li>
                        <li><a href="#">Mysql</a></li>
                        <li><a href="#">Linux</a></li>
                    </ul>
                </li>
                <li sec:authorize="isAnonymous()"
                    role="presentation" th:class="${page eq 'register'} ? active">
                    <a th:href="@{/user/register}">注册</a>
                </li>
                <li sec:authorize="isAnonymous()"
                    role="presentation" th:class="${page eq 'login'} ? active">
                    <a th:href="@{/user/login}">登录</a>
                </li>
                <li sec:authorize="isAuthenticated()"
                    th:class="${page eq 'profile'} ? active"
                    role="presentation">
                    <a th:href="@{/user/profile/}">个人信息</a>
                </li>
                <li sec:authorize="isAuthenticated()"
                    role="presentation">
                    <a th:onclick="'logout(\''
                        + ${_csrf.parameterName} + '\',\''
                        + ${_csrf.token}
                        + '\')'">
                            注销
                    </a>
                </li>
            </ul>
        </div>
        <!-- ./nav -->
    </div>
    <!-- ./header -->

    <div th:class="gap">&nbsp;</div>
    <div layout:fragment="content"></div>

    <script th:src="@{/asset/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/asset/js/bootstrap.min.js}"></script>
    <script sec:authorize="isAuthenticated()" th:src="@{/asset/js/logout/logout.js}">
    </script>
</body>
</html>