<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link th:href="@{/asset/image/favicon/6.png}" rel="shortcut icon">
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">PenBlog</title>
    <link rel="stylesheet" th:href="@{/asset/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/asset/css/layout.css}">
</head>
<body>
    <!-- header -->
    <div layout:fragment="header" >
        <!-- head -->
        <div class="container head" th:utext="${head}">
        </div>
        <!-- ./head -->

        <!-- nav -->
        <div class="container">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" th:class="${page eq 'home'} ? active">
                    <a th:href="@{/home}">首页</a>
                </li>
                <li role="presentation" th:class="dropdown" th:classappend="${page eq 'passage'} ? active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        分类 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li th:each="category : ${categoryList}">
                            <a th:href="@{'/passage/category/' + ${category.id}}"
                               th:text="${category.name}"></a>
                            <button type="button" class="btn btn-danger btn-xs"
                                    sec:authorize-url="/passage/category/delete/**">
                                删除
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-default btn-xs"
                                    style="margin-left: 15px;"
                                    data-toggle="modal" data-target="#addPassageCategoryModal"
                                    sec:authorize-url="/passage/category/add">
                                添加分类
                            </button>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="isAnonymous()"
                    role="presentation" th:class="${page eq 'register'} ? active">
                    <a th:href="@{/user/register}">注册</a>
                </li>
                <li sec:authorize="isAnonymous()"
                    role="presentation" th:class="${page eq 'login'} ? active">
                    <a th:href="@{/user/login}">登录</a>
                </li>
                <li sec:authorize="isAuthenticated()"
                    th:class="${page eq 'profile'} ? active"
                    role="presentation">
                    <a th:href="@{/user/profile/}">个人信息</a>
                </li>
                <li sec:authorize="isAuthenticated()"
                    role="presentation">
                    <a th:onclick="'logout(\''
                        + ${_csrf.parameterName} + '\',\''
                        + ${_csrf.token}
                        + '\')'">
                            注销
                    </a>
                </li>
            </ul>
        </div>
        <!-- ./nav -->
    </div>
    <!-- ./header -->

    <div th:class="gap">&nbsp;</div>
    <div layout:fragment="content"></div>

    <!-- Bootstrap 模态框 -->
    <!-- 添加分类 -->
    <div class="modal fade" tabindex="-1" role="dialog"
         id="addPassageCategoryModal" aria-labelledby="addPassageCategoryModalLabel"
         sec:authorize-url="/passage/category/add">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="addPassageCategoryModalLabel">
                        添加分类
                    </h4>
                </div>

                <form method="post" th:action="@{'/passage/category/add'}">
                    <div class="modal-body">
                        <input type="text" name="name" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确认
                        </button>
                    </div>
                </form>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script th:src="@{/asset/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/asset/js/bootstrap.min.js}"></script>
    <script sec:authorize="isAuthenticated()" th:src="@{/asset/js/logout/logout.js}">
    </script>
</body>
</html>