<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="page='manager',head=${greetings}+'<br/>'+${user.nickname}">
<head>
    <title th:text="${user.nickname} + '的个人空间'"></title>
    <link rel="stylesheet" th:href="@{/asset/css/user/profile.css}" />
</head>
<body>
    <div layout:fragment="content">

        <div class="container">
            <div class="row">
                <div class="col-xs-4 head_image">
                    <!-- 头像区 -->
                    <img th:src="${user.headImage}" />
                    <div style="margin-top: 20px;">
                        <button class="btn btn-default"
                                data-toggle="modal" data-target="#uploadHeadImgModal">
                            <span class="glyphicon glyphicon-pencil"></span>
                            上传头像
                        </button>
                    </div>
                </div>

                <div class="col-xs-8 information-list">
                    <!-- 昵称栏 -->
                    <div class="row information">
                        <div class="col-xs-4">
                            昵称
                        </div>
                        <div class="col-xs-6" th:text="${user.nickname}">
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-default"
                                    data-toggle="modal" data-target="#editNicknameModal">
                                <span class="glyphicon glyphicon-pencil"></span> 修改
                            </button>
                        </div>
                    </div>

                    <!--邮箱栏-->
                    <div class="row information">
                        <div class="col-xs-4">
                            注册邮箱
                        </div>
                        <div class="col-xs-6" th:text="${user.mail}">
                        </div>
                    </div>

                    <!--性别栏-->
                    <div class="row information">
                        <div class="col-xs-4">
                            性别
                        </div>
                        <div class="col-xs-6" th:text="${user.sex}">
                        </div>
                        <button class="btn btn-default"
                                data-toggle="modal" data-target="#editSexModal">
                            <span class="glyphicon glyphicon-pencil"></span> 修改
                        </button>
                    </div>

                    <!--注册日期栏-->
                    <div class="row information">
                        <div class="col-xs-4">
                            注册日期
                        </div>
                        <div class="col-xs-6" th:text="${user.createDate}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap 模态框 -->
        <!-- 修改昵称 -->
        <div class="modal fade" tabindex="-1" role="dialog"
             id="editNicknameModal" aria-labelledby="editNicknameModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="editNicknameModalLabel">
                            修改昵称
                        </h4>
                    </div>

                    <form method="post" th:action="@{'/user/update/nickname/'+${user.id}}">
                        <div class="modal-body">
                            <input type="text" name="nickname" class="form-control"
                                   th:value="${user.nickname}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                取消
                            </button>
                            <button type="submit" class="btn btn-primary">
                                确认
                            </button>
                        </div>
                    </form>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- 修改性别 -->
        <div class="modal fade" tabindex="-1" role="dialog"
             id="editSexModal" aria-labelledby="editSexModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="editSexModalLabel">
                            选择性别
                        </h4>
                    </div>

                    <form method="post" th:action="@{'/user/update/sex/'+${user.id}}">
                        <div class="modal-body">
                            <label class="radio-inline">
                                <input type="radio" name="sex" id="male" value="男" checked>男
                            </label>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <label class="radio-inline">
                                <input type="radio" name="sex" id="female" value="女">女
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                取消
                            </button>
                            <button type="submit" class="btn btn-primary">
                                提交
                            </button>
                        </div>
                    </form>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- 上传头像 -->
        <div class="modal fade" tabindex="-1" role="dialog"
             id="uploadHeadImgModal" aria-labelledby="uploadHeadImgModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="uploadHeadImgModalLabel">
                            上传头像
                        </h4>
                    </div>

                    <form method="post" enctype="multipart/form-data"
                          th:action="@{'/user/update/head_image/' + ${user.id}}">
                        <div class="modal-body">
                            选择文件 <input type="file" name="headImage"
                                        accept="image/jpeg,image/gif,image/png">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                取消
                            </button>
                            <button type="submit" class="btn btn-primary">
                                上传
                            </button>
                        </div>
                    </form>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</body>
</html>