<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout"
      th:with="page='passage',head=${passage.title} + ' <br/> PenBlog'">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/asset/css/gap.css}">
    <link rel="stylesheet" th:href="@{/asset/css/passage/detail.css}">
    <title th:text="${passage.title}"></title>
</head>
<body>
    <div layout:fragment="content" th:class="container">
        <button type="button" th:class="'btn btn-default'"
                sec:authorize-url="/passage/update"
                data-toggle="modal" data-target="#updatePassageModal">
            修改文章
        </button>

        <h1 th:class="title" th:text="${passage.title}"></h1>

        <div th:utext="${passage.content}"></div>

        <!-- Bootstrap 模态框 -->
        <!-- 添加文章 -->
        <div class="modal fade" tabindex="-1" role="dialog"
             id="updatePassageModal" aria-labelledby="addUpdateModalLabel"
             sec:authorize-url="/passage/add">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="updatePassageModalLabel">
                            修改文章
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="passage_title gap">
                            文章标题
                            <input id="passage_title_input" type="text"
                                   th:value="${passage.title}" class="form-control">
                        </div>
                        <div id="editor" th:utext="${passage.content}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button id="submit" type="button" class="btn btn-primary">
                            确认
                        </button>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <script sec:authorize-url="/passage/update" th:src="@{/asset/js/wangEditor.min.js}"></script>
        <script sec:authorize-url="/passage/update" th:src="@{/asset/js/passage/passage.js}"></script>
        <script sec:authorize-url="/passage/update" th:inline="javascript">
            var E = window.wangEditor
            var editor = new E('#editor')
            editor.customConfig.uploadImgShowBase64 = true
            editor.create()

            document.getElementById('submit').addEventListener('click', function () {
                // 读取 html
                createForm('/springblog/passage/update',
                    {[[${_csrf.parameterName}]]: [[${_csrf.token}]],
                    id: [[${passage.id}]],
                    categoryId: [[${passage.categoryId}]],
                    title: document.getElementById('passage_title_input').value,
                    content: editor.txt.html(),
                    originContent: editor.txt.text()})
            }, false)
        </script>
    </div>
</body>
</html>