div.errors {
    border:2px solid white;
    border-radius:25px;
    text-align: center;
    color: red;
}

label.error {
    color: red;
}

input.error {
    background-color: #ffcccc;
}

form .form-group{
    margin-top: 50px;
}